/* 網頁內容--------------- */

section {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 200px;
}

/* ===========客製商品============= */
/* 標題文字======= */
.custom-paper-tape{
    width: 310px;
    height: 60px;
    background-image: url(../image/bg2.svg) ;
    background-repeat: no-repeat;
    margin:auto;
    margin-bottom: 100px;
    font-size: 30px;
    color: #404040;
    font-weight: 800;
    text-align: center;
    line-height: 60px;
    letter-spacing: 10px;
}

/* 圖片與文字的群組--------- */
.custom-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}
/* 圖片------------ */
.custom-picture{
   width: 45%;
   height: 45%;
   overflow: hidden;
   position: sticky;
   top: 150px;
   border: 3px solid #FFD54C;
   border-radius: 10px;
}
.custom-picture img{
    width: 100%;
    height: 100%;
    vertical-align: top;
    object-fit: cover;
    object-position: center center;
}
/* 文字-------------- */
.custom-selection{
    width: 45%;
}
/* .selection-txt {
    
} */
/* 說明文字--------------- */
.selection-txt h3{
    padding:0px 10px;
    font-size: 22px;
    font-weight: 700;
    color: #404040;
    letter-spacing: 2px;
    display: inline-block;
    background-image: url(../image/bg7.svg);
    background-position: no repeat;
}
.selection-txt p{
    padding: 10px;
    font-size: 18px;
    color: #5a5a5a;
    line-height: 30px;
    text-align: justify;
}
/* 開始訂製----------- */
/* 訂製版型-------------- */

.layout-title,.metal-title, .fabric-title, .inner-title, .printing-title{
    display: flex;
    align-items: flex-end;
    padding: 20px 0;
}
.layout-dashed{
    flex-grow: 1;
    border-bottom:2px dashed #0945BA ;
}

.metal-dashed, .fabric-dashed,.inner-dashed{
    border-bottom:2px dashed #0945BA ;
    flex-grow: 1;
}
.printing-dashed{
    flex-grow: 1;
    border-bottom:2px dashed #0945BA ;
}

.layout-title h4, .metal-title h4, .fabric-title h4,.inner-title h4, .printing-title h4{
    font-size: 18px;
    color: #0945BA;
    letter-spacing: 2px;
    font-weight: 700;
}
/* 選版型圖---------------- */
.layout-link{
    display: flex;
}
.layout-link a :active{
    border: 5px solid #0945BA;
}
.layout-link a{
    width: 33.333333%;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    color: #0945BA;
    padding: 10px;
    box-sizing: border-box;
}
.layout-link a img{
    vertical-align: top;
    width: 100%;
}
.selection-layout p{
    font-size: 15px;
    color: #404040;
    letter-spacing: 2px;
    line-height: 24px;
    padding: 10px;
}
/* 選口金顏色金色與銀色--------------- */
.metal-link{
    display: flex;
}
.metal-link .color{
    width: 20px;
    height: 20px;
    margin: 10px;
}
.metal-link .color:active{
    border:5px solid #0945BA;
}
.metal-link .yellow{
    background-color: yellow;
}
.metal-link .gray{
    background-color: rgb(187, 187, 187);
}
/* 選外觀布料顏色 */
.fabric-link, .inner-link, .printing-link{
    display: flex;
    flex-wrap: wrap;
}
.fabric-link a, .inner-link a, .printing-link a{
    width: 20%;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 1px;
    color: #404040;
    padding: 15px;
    box-sizing: border-box;
}
.fabric-link a img, .inner-link a img, .printing-link a img{
    vertical-align: top;
    width: 100%;
    margin-bottom: 10px;
    /* object-fit: cover;
    object-position: center center; */
}
.fabric-link a :active, .inner-link a :active, .printing-link a :active{
    border: 5px solid #ffde72;
}
/* 下一步按鈕 */
.next-page {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    margin: 50px 0;
}

.next-page a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 20px 20px 20px 20px;
    border: 2px dashed #0945BA;
    box-shadow: 0 0 0 3px yellow;
    background-color: #FFEF00;
    color: #0945BA;
    font-size: 18px;
}

.next-page a:hover{
    background-color: #0945BA;
    color: #FFD54C;
    border: 2px dashed #FFD54C;
    box-shadow: 0 0 0 3px #0945BA;
}









